.header {
  background-image: url(../images/header.png);
  height: 180px;
}

.header ul {
  display: inline-block;
  list-style: none;
}

.header ul li {
  display: inline;
  padding: 20px;
}

.header ul li a:any-link {
  color: #ffffff;
  text-decoration: none;
}

.headerTitle {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.headerTitle img {
  margin-top: 65px;
}
