.header {
  background-image: url(../images/header.png);
  height: 180px;
}

.header ul {
  display: inline-block;
  list-style: none;
}

.header ul li {
  display: inline;
  padding: 20px;
}

.header ul li a:any-link {
  color: #ffffff;
  text-decoration: none;
}

.headerTitle {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.headerTitle img {
  margin-top: 50px;
  align-self: center;
}
.menu {
  margin-top: 20px;
  margin-left: 175px;
}

div.menu ul li.selected {
  border-bottom: #58bd8e;
  border-bottom-style: solid;
  padding-bottom: 5px;
  border-bottom-width: thick;
}
