.searchInput {
  height: 35px;
}

.searchBtn {
  margin-left: -22px;
  margin-top: 10px;
  width: 10px;
}

.searchContainer {
  margin-top: 70px;
}

.searchBtnImg {
  width: 20px;
  margin-left: -9px;
  margin-top: 7px;
}
